.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--default-color);
  color: var(--default-color);
  transition: all 1s ease-out;
  transition-property: background color;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 55rem;
  min-width: 30rem;
  min-height: 30rem;
  padding: 4rem;
  margin: 2rem;
  border-radius: 4px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: all 200ms ease-out;
  transition-property: box-shadow transform;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
  }
}

.quote-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .quote-text {
    position: relative;
    font-size: 3rem;
    font-weight: 500;
    padding: 2rem 3rem;
    margin-left: 1rem;

    &::before {
      content: open-quote;
      position: absolute;
      font-size: 10rem;
      top: -0.5rem;
      left: -1rem;
    }
  }

  .quote-author {
    align-self: flex-end;
    margin-bottom: 1rem;
  }
}

.button-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;

  @media screen and (max-width: 360px) {
    justify-content: center;
  }

  a,
  button {
    cursor: pointer;
    border: 0;
    color: white;
    margin: 1rem 0;
    margin-right: 2rem;
    font-size: 1.4rem;
    padding: 1rem;
    border-radius: 4px;
    transition: background 1s ease-out, opacity 200ms ease-out;

    @media screen and (max-width: 360px) {
      margin: 1rem !important;
    }
  }

  a:hover,
  button:hover {
    opacity: 0.8;
  }

  .new-quote {
    margin-right: 0;
    background: var(--default-color);
  }

  .copy-to-clipboard {
    background: lightseagreen;
    transition: opacity 200ms ease-out, background 100ms ease-out;
  }

  .copied {
    background: lightcoral;
  }

  .tweet-quote {
    margin-left: auto;
    background: hsl(204, 65%, 62%);
  }
}

.fade {
  animation: fade 1s ease-out;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer {
  font-size: 1.8rem;
  color: white;
  margin: 1rem 0;

  a:hover {
    text-decoration: underline;
  }
}
