$font-size: 10px;
$main-font: 'Raleway', sans-serif;
$default-color: hsl(0, 0%, 20%);

:root {
  --font-size: #{$font-size};
  --main-font: #{$main-font};
  --default-color: #{$default-color};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
}

html {
  font-size: var(--font-size);
}

body {
  font-family: var(--main-font);
  font-size: 1.6rem;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--default-color);
  color: var(--default-color);
  transition: all 500ms ease;
}

.quote-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50rem;
  height: 30rem;
  background: white;
}

.quote-text {
  padding: 2rem;
}
