$font-size: 10px;
$main-font: 'Raleway', sans-serif;
$default-color: hsl(0, 0%, 20%);

:root {
  --font-size: #{$font-size};
  --main-font: #{$main-font};
  --default-color: #{$default-color};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 980px) {
  html {
    font-size: 58%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 55%;
  }
}

body {
  font: 1.6rem/1.4 var(--main-font);
}

a {
  text-decoration: none;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--default-color);
  color: var(--default-color);
  transition: all 1s ease-out;
  transition-property: background color;
}

.quote-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 55rem;
  min-height: 30rem;
  padding: 4rem;
  margin: 2rem;
  border-radius: 4px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: all 200ms ease-out;
  transition-property: box-shadow transform;
}

.quote-box:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

.quote-text {
  position: relative;
  font-size: 3rem;
  font-weight: 500;
  padding: 2rem 3rem;
  margin-left: 1rem;
}

.quote-text::before {
  content: open-quote;
  position: absolute;
  font-size: 10rem;
  top: -0.5rem;
  left: -1rem;
}

.quote-author {
  align-self: flex-end;
  margin-bottom: 1rem;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;

  a {
    cursor: pointer;
    font-size: 1.4rem;
    padding: 1rem;
    border-radius: 4px;
    transition: background 2s ease-out, opacity 200ms ease-out;
  }

  a:hover {
    opacity: 0.8;
  }
}

.new-quote {
  background: var(--default-color);
}

.tweet-quote {
  background: #5da9dd;
}

.fade {
  animation: fade 1s ease-out;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer {
  font-size: 1.8rem;
  color: white;
  margin-top: 2rem;

  a:hover {
    text-decoration: underline;
  }
}
