$font-size: 10px;
$main-font: 'Raleway', sans-serif;
$default-color: hsl(0, 0%, 20%);

:root {
  --font-size: #{$font-size};
  --main-font: #{$main-font};
  --default-color: #{$default-color};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 980px) {
  html {
    font-size: 58%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 55%;
  }
}

body {
  font: 1.6rem/1.4 var(--main-font);
}

a {
  text-decoration: none;
  color: white;
}
